<div>

    <section class="p-about com-padd">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-about pad-bot-red-40">
                        <h3>Aboutus</h3> <br />
                        <p>
                            SC Businez is a one stop shop for all your business investments. We offer wide range of business opportunities in retail market. Our services includes providing buying and selling business and residential properties and full fledge assistance in smooth closing and transfer of business services like gas stations, liquor stores, hotels/motels and housing. Come find your dream business or a house. We strive for excellence.
                        </p>
                        <p>
                            We offer wide range of products for industries related to retail business, construction and housing.
                        </p>
                        <p>We also provide the platform to advertise your retail business requirements if you don’t find any particular product. We can list your retailer requirements on our website and will try to fulfill your requests.</p>
                        <span>
                            OPPORTUNITY FOR YOU
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="page-about" style="border:1px solid; border-radius:15px;">
                        <img src="../images/AboutUs.jpg" alt="Aboutus" style="border-radius:15px;" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/materialize.min.js" type="text/javascript"></script>
    <script src="js/custom.js"></script>
</div>