
<div>
    <!-- Bootstrap Core CSS -->
    <link href="../AdminStyle/css/custom.css" rel="stylesheet" />

    <link href="../AdminStyle/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="../AdminStyle/css/style.css" rel="stylesheet" />

    <!-- font-awesome icons CSS -->
    <!--<link href="css/font-awesome.css" rel="stylesheet">-->
    <link href="../AdminStyle/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome icons CSS -->
    <!-- side nav css file -->
    <!--<link href='css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />-->
    <link href="../AdminStyle/css/SidebarNav.min.css" rel="stylesheet" />
    <!-- side nav css file -->
    <!-- js-->
    <!--<script src="js/jquery-1.11.1.min.js"></script>-->
    <script src="../js/AdminStyle/js/jquery-1.11.1.min.js"></script>
    <!--<script src="js/modernizr.custom.js"></script>-->
    <script src="../js/AdminStyle/js/modernizr.custom.js"></script>
    <link href="../AdminStyle/css/tabview.css" rel="stylesheet" />
    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->
    <!-- Metis Menu -->
    <!--<script src="js/metisMenu.min.js"></script>-->
    <script src="../js/AdminStyle/js/metisMenu.min.js"></script>
    <!--<script src="js/custom.js"></script>-->
    <script src="../js/AdminStyle/js/custom.js"></script>

    <!--<link href="css/custom.css" rel="stylesheet">-->
    <link href="../AdminStyle/css/custom.css" rel="stylesheet" />
</div>
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" ng-show="SHowLeftMenu" id="cbp-spmenu-s1">
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="{{InvoiceLogo}}" alt="menu" width="190px" height="70px" />
                </a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li style="padding-top:30px;"></li>
                        <li ng-show="MenuDashboard">
                            <a href="#!DashBoard" style="height:44px;">
                                <i class="fa ">

                                    <img src="../AdminStyle/images/Icons/bar_chart-24px.png" alt="menu" width="20px" height="20px" />

                                </i> <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="treeview" ng-click="ShowHideSubMenu('SettingsmenuShow2','menuShow','SettingsmenuShow','MenuDiscountShow')" ng-show="MenuSales">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/Group 44.png" alt="menu" style="width:20px;height:20px;" />
                                </i>
                                <span>Sales</span>
                                <i class="pull-right">
                                    <img src="../AdminStyle/images/Icons/Icon material-navigate-next.png" alt="menu" />
                                </i>
                            </a>
                            <ul class="treeview-menu" id="SettingsmenuShow2">
                                <li><a href="#!SalOrder"> Sales Orders</a></li>
                                <li><a href="#!SalesReport">Order Slip</a></li>
                                <li><a href="#!SalesReportDetail">Sales Report</a></li>
                                <li><a href="#!BulkOrder"> Bulk Order</a></li>
                                <li ng-show="MenuDelConfirm"><a href="#!DeliveryConfirmation"> Delivery Confirmation</a></li>
                                <li><a href="#!CustomerDetail"> Customer Details</a></li>
                                <li><a href="#!CustomerRating">Customer Review Rating</a></li>
                                <li><a href="#!UserManagement">User Management</a></li>

                               
                            </ul>
                        </li>

                        <li class="treeview" ng-show="Inventory" ng-click="ShowHideSubMenu('menuShow','SettingsmenuShow','SettingsmenuShow2','MenuDiscountShow')">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/Group 49.png" width="20px" height="20px" alt="menu" />
                                </i>
                                <span>Inventory</span>
                                <i class="pull-right">
                                    <img src="../AdminStyle/images/Icons/Icon material-navigate-next.png" alt="menu" />
                                </i>
                            </a>
                            <ul class="treeview-menu" id="menuShow">
                                <li><a href="#!ProductDetails">Product Details</a></li>
                                <li><a href="#!Stock"> Product Stock</a></li>
                                <!--<li><a href="#!PaymentType"><i class="fa fa-angle-right"></i>Payment Type</a></li>-->

                                <li ng-show="MenuCategory"><a href="#!Category">Category</a></li>
                                <li ng-show="MenuSubCat"><a href="#!Subcat"> SubCategory</a></li>
                                <li><a href="#!BrandType">Brand Type</a></li>
                                <li><a href="#!TaxDetails">Tax Details</a></li>
                                <li><a href="#!Barcode">Barcode</a></li>
                                <!--<li ng-show="MenuAdd"><a href="#!AddDetail"><i class="fa fa-angle-right"></i> Add Details</a></li>-->
                            </ul>
                        </li>

                        <li class="treeview" ng-click="ShowHideSubMenu('MenuDiscountShow','menuShow','SettingsmenuShow','SettingsmenuShow2')" ng-show="MenuDiscount">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/Group 50.png" width="20px" height="20px" alt="menu" />
                                </i>
                                <span>Deal </span>
                                <i class="pull-right">
                                    <img src="../AdminStyle/images/Icons/Icon material-navigate-next.png" alt="menu" />
                                </i>
                            </a>

                            <ul class="treeview-menu" id="MenuDiscountShow">
                                <li id="Delivery">
                                    <a href="#!DeliveryChrg" style="color:black !important;">
                                        Delivery Charge
                                    </a>
                                </li>
                                <li id="Discount" ng-show="showDiscount"><a href="#!Discount">Discount </a></li>
                                <li id="Coupon" ng-show="showCoupon"><a href="#!CouponDetails"> Coupon Code</a></li>
                                <!--<li id="Coupon" ng-show="showCoupon"><a href="#!TodayDealAdmin"> Today Deal</a></li>-->
                            </ul>
                        </li>
                        <li class="treeview" ng-click="ShowHideSubMenu('SettingsmenuShow','menuShow','SettingsmenuShow2','MenuDiscountShow')" ng-show="MenuSettings">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/settings-24px.png" width="20px" height="20px" alt="menu" />
                                </i>
                                <span>Settings</span>
                                <i class="pull-right">
                                    <img src="../AdminStyle/images/Icons/Icon material-navigate-next.png" alt="menu" />
                                </i>
                            </a>
                            <ul class="treeview-menu" id="SettingsmenuShow">


                                <!--<li><a href="#!TodayDealAdmin"><i class="fa fa-angle-right"></i> Today Deal</a></li>
                                <li><a href="#!MessageAlertAdmin"><i class="fa fa-angle-right"></i> Message Alert</a></li>
                                <li><a href="#!Register"><i class="fa fa-angle-right"></i> App Register</a></li>
                                <li ng-show="AdminVariance"><a href="#!ProductVariance"><i class="fa fa-angle-right"></i>Product variance Count </a></li>-->
                                
                                <li><a href="#!AboutUsAdmin"> About Us </a></li>
                                <li><a href="#!ContactUsAdmin"> Contact Us </a></li>
                                <!--<li><a href="#!CopyRights"><i class="fa fa-angle-right"></i> Copy Rights </a></li>-->
                                <li><a href="#!Settings"> Site Settings </a></li>
                                <li><a href="#!SocliaMedia">Social Media </a></li>
                                <li><a href="#!TermsAndCondition"> Terms & Condition</a></li>
                                <li><a href="#!TermsAndConditionInvoive"> Terms & Condition Invoice</a></li>
                                <li><a href="#!PrivacyPolicy">Privacy Policy</a></li>
                                <li><a href="#!SliderAdmin">Home Slider</a></li>
                                <li><a href="#!Company"> Company Details</a></li>
                                <!--<li><a href="#!ProductConfiguration"><i class="fa fa-angle-right"></i> Product Configuration</a></li>-->
                            </ul>
                        </li>

                    
                        <li>
                            <a href="" ng-click="LogoutClick()">
                                <i class="fa">
                                    <img src="../AdminStyle/images/Icons/FontAwsome (sign-out-alt).png" width="20px" height="20px" alt="menu" />
                                </i> <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Mobile View Side Bar-->
            <div class="desktop-hide" id="myLinks1" style="background-color:white !important;color:black !important;">
                <div class="sb2-13 cus-bg-color1" id="bs-example-navbar-collapse-1">
                    <ul class="mob-menu-icon  collapsible" data-collapsible="accordion">
                        <li class="header">MAIN NAVIGATION</li>
                        <li ng-show="MenuDashboard">
                            <a href="#!DashBoard" style="height:44px;">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/navbarIcon/dashboard-icon.png" width="20px" height="20px" alt="menu" />
                                </i> <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="treeview" ng-click="ShowHideSubMenu('SettingsmenuShow2','menuShow','SettingsmenuShow')" ng-show="MenuSales">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/salesreport-icon.png" style="width:20px;height:20px;" alt="menu" />
                                </i>
                                <span>Sales</span>
                                <i class="pull-right">
                                    <img src="../AdminStyle/images/Icons/Icon material-navigate-next.png" alt="menu" />
                                </i>
                            </a>
                            <ul class="treeview-menu" id="SettingsmenuShow2">
                                <li><a href="#!SalOrder">Sales Orders</a></li>
                                <li><a href="#!SalesReport"> Order Slip</a></li>
                                <li><a href="#!SalesReportDetail"> Sales Report</a></li>
                                <li ng-show="MenuDelConfirm"><a href="#!DeliveryConfirmation"> Delivery Confirmation</a></li>


                            </ul>
                        </li>


                        <!--<li ng-show="MenuSalesOrders">
                            <a href="#!SalOrder" style="height:44px;">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/Icons/Sales_Order.png" style="width:20px;height:20px;" />
                                </i> <span>Sales Orders</span>
                            </a>
                        </li>-->

                        <li class="treeview" ng-click="ShowHideSubMenu('menuShow')">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/navbarIcon/page-icon.png" width="20px" height="20px" alt="menu" />
                                </i>
                                <span>Pages</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" id="menuShow">
                                <li><a href="#!ProductDetails"> Product Details</a></li>
                                <li><a href="#!Stock">Product Stock</a></li>
                                <li ng-show="MenuCategory"><a href="#!Category"> Category</a></li>
                                <li ng-show="MenuSubCat"><a href="#!Subcat"> SubCategory</a></li>
                                <!--<li><a href="#!TaxDetails"><i class="fa fa-angle-right"></i> Tax Details</a></li>-->
                                <li id="Discount" ng-show="showDiscount"><a href="#!Discount"> Discount Details</a></li>
                                <li id="Coupon" ng-show="showCoupon"><a href="#!CouponDetails"> Coupon Code</a></li>
                                <!--<li><a href="#!AddDetail" ng-show="MenuAdd"><i class="fa fa-angle-right"></i> Add Details</a></li>-->
                            </ul>
                        </li>
                        <li class="treeview" ng-click="ShowHideSubMenu('SettingsmenuShow')" ng-show="MenuSettings">
                            <a href="">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/navbarIcon/settings.png" width="20px" height="20px" alt="menu" />
                                </i>
                                <span>Settings</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" id="SettingsmenuShow">
                                <li><a href="#!Company">Company Details</a></li>
                                <li><a href="#!SliderAdmin"> Home Slider</a></li>
                                <li><a href="#!TodayDealAdmin"> Today Deal</a></li>
                                <li><a href="#!AboutUsAdmin"> About Us Config</a></li>
                                <li><a href="#!ContactUsAdmin"> Contact Us Config</a></li>
                                <li><a href="#!CopyRights">Copy Rights Config</a></li>
                                <li><a href="#!Settings"> Site Settings Config</a></li>
                                <li><a href="#!SocliaMedia"> Social Media Config</a></li>
                                <!--<li><a href="#!ProductConfiguration"><i class="fa fa-angle-right"></i> Product Configuration</a></li>-->
                            </ul>
                        </li>

                        <li>
                            <a href="#!Widgets" ng-show="MenuAnalytics">
                                <i class="fa ">
                                    <img src="../AdminStyle/images/navbarIcon/widget-icon.png" width="20px" height="20px" alt="menu" />
                                </i> <span>Analytics</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="LogoutClick()">
                                <i class="fa">
                                    <img src="../AdminStyle/images/navbarIcon/logout.png" width="20px" height="20px" alt="menu" />
                                </i> <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </aside>
</div>

<div class="sticky-header header-section ">
   
    <div class="header-left">
        <div class="mobile-hide">
            <button ng-show="MenuBar1" ng-click="myFunction1()" style="cursor:pointer"> <i class="fa fa-bars"></i> </button>
            <button ng-show="MenuBarclose" ng-click="myFunction2()"  style="cursor:pointer"> <i class="fa fa-bars"></i> </button>
         
        </div>
        <div class="desktop-hide" ng-click="myFunction()">
            <button id="showLeftPush" ng-click="toggle_visibility('showLeftPush','showLeftPush1')"> <i class="fa fa-bars"></i> </button>
            <img style="width:40px; height:40px;display:none" src="../AdminStyle/images/error (1).png" alt="menu" id="showLeftPush1" ng-click="toggle_visibility('showLeftPush1','showLeftPush')" />
        </div>
        <div class="profile_details_left">
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div class="profile_details" ng-show="UserVariance">

            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="" alt=""> </span>
                            <div class="user-name">
                                <!--<p>Variance Count</p>
                                <span>{{VarianceCount}}</span>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>


                    </a>
                </li>
            </ul>
        </div>
        <div class="profile_details">

            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="" alt=""> </span>
                            <div class="user-name">
                                <p>{{CompanyName}}</p>
                                <!--<span>Administrator</span>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>


                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="desktop-hide">
    <div id="myLinks" class="desktop-hide" style="text-align:left;">
        <div class="sb2-13" id="bs-example-navbar-collapse-1">
            <ul class="mob-menu-icon  collapsible" id="toggle-fullscreen" data-collapsible="accordion" style="text-align: left; padding-right: 25px; list-style-type:none;">
                <li style="height:44px;" ng-show="MenuDashboard">
                    <a href="#!DashBoard" style="height:44px;">
                        <i class="fa ">
                            <img src="../AdminStyle/images/navbarIcon/dashboard-icon.png" width="20px" height="20px" alt="menu" />
                        </i> <small style="color:white!important;">Dashboard</small>
                    </a>
                </li>

                <li class="treeview" ng-click="ShowHideSubMenu1('MenuSalMobile','SettingsmenuShow1','menuShow1','menuDisShow1')" style="height:44px;" ng-show="MenuSales">
                    <a href="">
                        <i class="fa ">
                            <img src="../AdminStyle/images/Icons/salesreport-icon.png" style="width:20px;height:20px;" alt="menu" />
                        </i>
                        <small style="color:white!important;">
                            Sales
                        </small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" id="MenuSalMobile" style="background-color:white; position:relative;display:none ">
                        <li style=" padding-top:5px;"><a href="#!SalOrder" style="color:black !important;"><i class="fa fa-angle-right"></i> Sales Orders</a></li>
                        <li style=" padding-top:5px;"><a href="#!SalesReport" style="color:black !important;"><i class="fa fa-angle-right"></i> Order Slip</a></li>
                        <li style=" padding-top:5px;"><a href="#!SalesReportDetail" style="color:black !important;"><i class="fa fa-angle-right"></i> Sales Report</a></li>
                        <li ng-show="MenuDelConfirm" style=" padding-top:5px;"><a href="#!DeliveryConfirmation" style="color:black !important;"><i class="fa fa-angle-right"></i> Delivery Confirmation</a></li>
                        <li style=" padding-top:5px;">
                            <a href="#!CustomerDetails" style="color:black !important;">
                                <i class="fa fa-angle-right"></i>
                                Customer Details
                            </a>
                        </li>
                        <li style=" padding-top:5px;">
                            <a href="#!CustomerRating" style="color:black !important;">
                                <i class="fa fa-angle-right"></i>
                                Customer Review Rating
                            </a>
                        </li>

                        <li style=" padding-top:5px;">
                            <a href="#!BulkOrder" style="color:black !important;">
                                <i class="fa fa-angle-right"></i>
                                Bulk Order
                            </a>
                        </li>

                        <li style=" padding-top:5px;">
                            <a href="#!UserManagement" style="color:black !important;">
                                <i class="fa fa-angle-right"></i>
                                User Management
                            </a>
                        </li>

                    </ul>
                </li> 

                <!--<li style="padding-bottom:18px;" ng-show="MenuSalesOrders">
                    <a href="#!SalOrder" style="height:44px;">
                        <i class="fa ">
                            <img src="../AdminStyle/images/Icons/Sales_Order.png" style="width:20px;height:20px;" />
                        </i> <span>Sales Orders</span>
                    </a>
                </li>-->
                <!--<li style="padding-bottom:18px;" >
                    <a href="#!DeliveryConfirmation" style="height:44px;">
                        <i class="fa">
                            <img src="../AdminStyle/images/Icons/courier-details icon.png" style="width:20px;height:20px;" alt="menu"/>
                        </i> <span>Delivery Confirmation</span>
                    </a>
                </li>-->


                <li class="treeview" ng-click="ShowHideSubMenu1('menuShow1','SettingsmenuShow1','MenuSalMobile','menuDisShow1')" style="height:44px;">
                    <a href="">
                        <i class="fa ">
                            <img src="../AdminStyle/images/navbarIcon/page-icon.png" width="20px" height="20px" alt="menu" />
                        </i>
                        <small style="color:white!important;">
                            Inventory
                        </small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" id="menuShow1" style="background-color:white; position:relative;display:none ">
                        <li style=" padding-top:5px;"><a href="#!ProductDetails" style="color:black !important;"><i class="fa fa-angle-right"></i> Product Details</a></li>
                        <li style=" padding-top:5px;"><a href="#!Stock" style="color:black !important;"><i class="fa fa-angle-right"></i> Product Stock</a></li>
                        <li style=" padding-top:5px;"><a href="#!Category" style="color:black !important;" ng-show="MenuCategory"><i class="fa fa-angle-right"></i> Category</a></li>
                        <li style=" padding-top:5px;"><a href="#!Subcat" style="color:black !important;" ng-show="MenuSubCat"><i class="fa fa-angle-right"></i> SubCategory</a></li>
                        <li style=" padding-top:5px;"><a href="#!BrandType" style="color:black !important;"><i class="fa fa-angle-right"></i>Brand Type</a></li>
                        <li style=" padding-top:5px;"><a href="#!TaxDetails" style="color:black !important;"><i class="fa fa-angle-right"></i> Tax Details</a></li>
                        <li style=" padding-top:5px;"><a href="#!Barcode" style="color:black !important;"><i class="fa fa-angle-right"></i> Barcode</a></li>
                        <!-- <li style=" padding-top:5px;"><a href="#!AddDetail" style="color:black !important;"><i class="fa fa-angle-right" ng-show="MenuAdd"></i> Add Details</a></li>-->
                    </ul>
                </li>


                <li class="treeview" ng-click="ShowHideSubMenu1('menuDisShow1','menuShow1','SettingsmenuShow1','MenuSalMobile')" style="height:44px;" ng-show="MenuDiscount">
                    <a href="">
                        <i class="fa ">
                            <img src="../AdminStyle/images/navbarIcon/page-icon.png" alt="menu" width="20px" height="20px" alt="menu" />
                        </i>
                        <small style="color:white!important;">
                            Deal
                        </small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" id="menuDisShow1" style="background-color:white; position:relative;display:none">


                        <!--<li style=" padding-top:5px;">
                            <a href="#!TodayDealAdmin" style="color:black !important;">
                                <i class="fa fa-angle-right"></i> Today Deal
                            </a>
                        </li>-->


                        <li style=" padding-top:5px;" id="Discount" ng-show="showDiscount">
                            <a href="#!Discount" style="color:black !important;">
                                <i class="fa fa-angle-right"></i> Discount
                            </a>
                        </li>
                        <li style=" padding-top:5px;" id="Discount">
                            <a href="#!DeliveryChrg" style="color:black !important;">
                                <i class="fa fa-angle-right"></i> Delivery Charges
                            </a>
                        </li>
                        <li style=" padding-top:5px;" id="Coupon" ng-show="showCoupon"><a href="#!CouponDetails" style="color:black !important;"><i class="fa fa-angle-right"></i> Coupon Code</a></li>

                    </ul>
                </li>


                <li class="treeview" ng-click="ShowHideSubMenu1('SettingsmenuShow1','menuShow1','MenuSalMobile','menuDisShow1')" style="height:44px;" ng-show="MenuSettings">
                    <a href="">
                        <i class="fa ">
                            <img src="../AdminStyle/images/navbarIcon/settings.png" alt="menu" width="20px" height="20px" alt="menu" />
                        </i>
                        <small style="color:white!important;">
                            Settings
                        </small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" id="SettingsmenuShow1" style="background-color:white; position:relative;display:none ">


                        <!--<li style=" padding-top:5px;"><a href="#!TodayDealAdmin" style="color:black !important;"><i class="fa fa-angle-right"></i> Today Deal</a></li>
                        <li style=" padding-top:5px;"><a href="#!MessageAlertAdmin" style="color:black !important;"><i class="fa fa-angle-right"></i> Message Alert</a></li>
                        <li style=" padding-top:5px;" ng-show="AdminVariance"><a href="#!ProductVariance" style="color:black !important;"><i class="fa fa-angle-right"></i>Product variance Count </a></li>-->
                        <li style=" padding-top:5px;"><a href="#!TermsAndConditionInvoive" style="color:black !important;"><i class="fa fa-angle-right"></i> Terms & Condition Invoice</a></li>
                        <li style=" padding-top:5px;"><a href="#!TermsAndCondition" style="color:black !important;"><i class="fa fa-angle-right"></i> Terms & Condition</a></li>
                        <li style=" padding-top:5px;"><a href="#!PrivacyPolicy" style="color:black !important;"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
                        <li style=" padding-top:5px;"><a href="#!AboutUsAdmin" style="color:black !important;"><i class="fa fa-angle-right"></i> About Us </a></li>
                        <li style=" padding-top:5px;"><a href="#!ContactUsAdmin" style="color:black !important;"><i class="fa fa-angle-right"></i> Contact Us </a></li>
                        <!--<li style=" padding-top:5px;"><a href="#!CopyRights" style="color:black !important;"><i class="fa fa-angle-right"></i> Copy Rights </a></li>-->
                        <li style=" padding-top:5px;"><a href="#!Settings" style="color:black !important;"><i class="fa fa-angle-right"></i> Site Settings </a></li>
                        <li style=" padding-top:5px;"><a href="#!SocliaMedia" style="color:black !important; "><i class="fa fa-angle-right"></i> Social Media </a></li>
                        <li style=" padding-top:5px;"><a href="#!SliderAdmin" style="color:black !important;"><i class="fa fa-angle-right"></i> Home Slider</a></li>
                        <li style=" padding-top:5px;"><a href="#!Company" style="color:black !important;"><i class="fa fa-angle-right"></i> Company Details</a></li>
                        <!--<li style=" padding-top:5px;"><a href="#!ProductConfiguration" style="color:black !important; "><i class="fa fa-angle-right"></i> Product Configuration</a></li>-->
                    </ul>
                </li>

                <!--<li style="height:44px;" ng-show="MenuAnalytics">
                    <a href="#!Widgets">
                        <i class="fa ">
                            <img src="../AdminStyle/images/navbarIcon/widget-icon.png" width="20px" height="20px" />
                        </i> <span>Analytics</span>
                    </a>
                </li>-->
                <li style="height:44px;">
                    <a href="" ng-click="LogoutClick()">
                        <i class="fa">
                            <img src="../AdminStyle/images/navbarIcon/logout.png" alt="menu" width="20px" height="20px" />
                        </i> <small style="color:white!important;">Logout</small>
                    </a>
                </li>
                <li style="height:75px;"></li>
                <!--<li>
                    <p><span style="opacity:0.5">&copy; 2020. All Rights Reserved</span></p>
                    <br />
                </li>-->
            </ul>
        </div>
    </div>
</div>

<div>

    <script src='js/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <script src="js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            

            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function showleftmenu() {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        }

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <script src="../js/AdminStyle/js/jquery.nicescroll.js"></script>
    <script src="../js/AdminStyle/js/scripts.js"></script>
    <script src="../js/AdminStyle/js/chartinator.js"></script>
    <script src="../js/AdminStyle/js/classie.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="../js/AdminStyle/js/bootstrap.js"></script>
</div>
