<div>
    <div>
        <!-- Bootstrap Core CSS -->
        <link href="../AdminStyle/css/custom.css" rel="stylesheet" />
        <link href="../AdminStyle/css/bootstrap.css" rel="stylesheet" />
        <!-- Custom CSS -->
        <link href="../AdminStyle/css/style.css" rel="stylesheet" />
        <!-- font-awesome icons CSS -->
        <link href="../AdminStyle/css/font-awesome.css" rel="stylesheet" />
        <!-- //font-awesome icons CSS -->
        <!-- side nav css file -->
        <link href="../AdminStyle/css/SidebarNav.min.css" rel="stylesheet" />
        <!-- side nav css file -->
        <!-- js-->
        <script src="../js/AdminStyle/js/jquery-1.11.1.min.js"></script>
        <script src="../js/AdminStyle/js/modernizr.custom.js"></script>

        <!--webfonts-->
        <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <!--//webfonts-->
        <!-- Metis Menu -->
        <script src="../js/AdminStyle/js/metisMenu.min.js"></script>
        <script src="../js/AdminStyle/js/custom.js"></script>
        <link href="../AdminStyle/css/custom.css" rel="stylesheet" />

        <link href="../AdminStyle/css/tabview.css" rel="stylesheet" />
        <link href="../AdminStyle/css/custom.css" rel="stylesheet" />
        <link href="../AdminStyle/css/dp-custom.css" rel="stylesheet" />
        <link href="../AdminStyle/css/dp-mobile.css" rel="stylesheet" />
        <link href="../AdminStyle/css/dataTables.bootstrap.css" rel="stylesheet" />

        <script src="../js/jquery.min.js"></script>

        <script src="../js/Scripts/dirPagination.js"></script>
        <style>
            #myLinks {
                display: none;
                background-color: #222D32;
                color: white !important;
                padding-top: 3.8em;
                padding-left: 15px;
            }

                #myLinks a {
                    color: white !important;
                }

            .form-control {
                width: 70%;
            }

            /*---------------Font-Face---------------*/
            @font-face {
                font-family: 'Nunito-Bold';
                src: url('../fonts/Nunito-Bold.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-Regular';
                src: url('../fonts/Nunito-Regular.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-SemiBold';
                src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-Light';
                src: url('../fonts/Nunito-Light.ttf') format('truetype');
            }

            h2, h3, h4, h5, h6, th {
                font-family: Nunito-Bold !important;
            }

            p, span, a, label {
                font-family: Nunito-SemiBold !important;
                font-size: 1rem;
                color: black !important;
            }

            td {
                font-family: Nunito-Regular !important;
            }
            /*---------------Font-Face---------------*/

            input {
                border-color: #B198CB !important;
            }
        </style>
    </div>
    <div class="cbp-spmenu-push">
        <div class="main-content">
            <div ng-controller="AdminMainMenu">
                <ng-include src="'View/AdminMainMenu.html'"></ng-include>
            </div>
            <div class="container" style="width:100%;">
                <div id="page-wrapper">
                    <div class="main-page">
                        <div class="forms mobile-hide tab-hide">
                            <div class="form-two widget-shadow" style="border-radius:10px;">
                                <div class="row" style="padding-top:35px;padding-left:25px;">
                                    <a href="" data-toggle="tooltip" class="tool-tips" title="Manage Your ContactUs Admin Details Here!">
                                        <h4 style="font-size:20px;color:#663398;">Contact Us </h4>
                                    </a>
                                </div>

                                <div class="form-body" data-example-id="simple-form-inline" style="width:100%;padding-bottom:10px;padding-left:20%;">
                                    <form class="form-inline">
                                        <!--<div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">-->

                                        <div class="form-group" style="width:150%;padding-bottom:15px;">
                                            <div class="horizontal" style="padding-left:3px;padding-bottom:10px; padding-right:10px">
                                                <div class="col-lg-10 col-md-4 ">
                                                    <label for="exampleInputName2">Select Theme</label><br />
                                                    <select id="ThemeId" ng-model="Contact.ThemeId" ng-change="getContact(Contact.ThemeId)" class="form-control">
                                                        <option value="" selected">Select Theme</option>
                                                        <option ng-selected="Contact.ThemeId ==con.ThemeId" ng-repeat="con in ThemeDetail" value="{{con.ThemeId}}">{{con.ThemeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group" style="width:150%;  padding-bottom:20px; padding-left:3px;padding-right:10px">
                                            <div class="col-lg-10 col-md-4">
                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputUsername" ng-show="cont" form="">Address line1</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Address" class="form-control" id="" placeholder=" Enter Address" required readonly />
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputUsername" ng-show="cont" form="">Address line2</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Address1" class="form-control" id="" placeholder=" Enter Address" required readonly />
                                                    </div>
                                                </div>

                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="form-horizontal">
                                                        <label for="ContactNo" ng-show="cont" form="">Contact No.</label><br />
                                                        <input type="tel" ng-model="Contact.ContactNo" class="form-control" id="ContactNo" typeof="number" required readonly />
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputEmail" ng-show="cont" form="">Email Address</label><br />
                                                        <input type="email" ng-model="Contact.EmailId" class="form-control" id="EmailId" placeholder="sophie@example.com" required>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="form-horizontal">
                                                        <label for="Description" ng-show="cont" form="">Description</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Description" class="form-control" id="" placeholder=" Enter Description" required />
                                                    </div>
                                                </div>

                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="form-horizontal">
                                                        <label for="IFrame"  form="">Map IFrame</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Iframe" class="form-control" id="IFrame" placeholder=" Enter the Genetrated IFrame" required />
                                                    </div>
                                                </div>

                                                <div class="row" style="padding-left:40%;padding-top:20px;">
                                                    <button type="submit" class="btn btn-default" ng-show="ShowSave" ng-style="myObj" ng-click="Save()"><img src="../AdminStyle/images/save.png" />&nbsp;&nbsp;Save</button>
                                                    <button type="button" class="btn btn-default" ng-show="ShowUpdate" ng-style="myObj" ng-click="Update()"><img src="../AdminStyle/images/update_tag_.png" />&nbsp;&nbsp;Update</button>
                                                </div>
                                                <div class="row">
                                                </div>
                                                <div class="row">
                                                    <span style="color:red" ng-show="ShowError">{{msg}}</span><span style="color:green !important;">{{msgStatus}}</span><br />
                                                    <span ng-model="Contact.hiddenContactUsAdminId" ng-show="Showhide"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-lg-6">

                                            <div ng-repeat="opi in resultOPImage">
                                                <img src="{{opi.ThemeImage}}" style="width:100%;" />

                                            </div>
                                        </div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </form>
                                </div>

                            </div>
                        </div>



                        <!---------Mobile View----------->
                        <div class="forms desktop-hide tab-hide">
                            <div class="form-two widget-shadow" style="border-radius:10px;">
                                <div class="row" style="padding-top:35px;padding-left:15px;">
                                    <a href="" data-toggle="tooltip" class="tool-tips" title="Manage Your ContactUs Admin Details Here!">
                                        <h4 style="font-size:20px;color:#663398;">Contact Us </h4>
                                    </a>
                                </div>

                                <div class="form-body" data-example-id="simple-form-inline" style="width:100%;padding-bottom:10px;padding-left:10%;">
                                    <form class="form-inline">
                                        <!--<div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">-->

                                        <div class="col-lg-4 col-md-4 col-sm-4 form-group" style="width:150%;padding-bottom:10px;">
                                            <div class="horizontal" style="padding-left:3px;padding-bottom:10px; padding-right:10px">
                                                <div class="col-lg-10 col-md-4 ">
                                                    <label for="exampleInputName2">Select Theme</label><br />
                                                    <select id="ThemeId" ng-model="Contact.ThemeId" ng-change="getContact(Contact.ThemeId)" class="form-control" style="width:75%;">
                                                        <option value="" selected">Select Theme</option>
                                                        <option ng-selected="Contact.ThemeId ==con.ThemeId" ng-repeat="con in ThemeDetail" value="{{con.ThemeId}}">{{con.ThemeName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group" style="width:150%;  padding-bottom:10px; padding-left:3px;padding-right:10px">
                                            <div class="col-lg-4 col-md-4  col-sm-4">
                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputUsername" ng-show="cont" form="">Address line1</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Address" class="form-control" id="" placeholder=" Enter Address" required readonly style="width:75%;" />
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputUsername" ng-show="cont" form="">Address line2</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Address1" class="form-control" id="" placeholder=" Enter Address" required readonly style="width:75%;" />
                                                    </div>
                                                </div>

                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="ContactNo" ng-show="cont" form="">Contact No.</label><br />
                                                        <input type="tel" ng-model="Contact.ContactNo" class="form-control" id="ContactNo" typeof="number" required readonly style="width:75%;" />
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="exampleInputEmail" ng-show="cont" form="">Email Address</label><br />
                                                        <input type="email" ng-model="Contact.EmailId" class="form-control" id="EmailId" placeholder="sophie@example.com" required style="width:75%;">
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:10px;">
                                                    <div class="form-horizontal">
                                                        <label for="Description" ng-show="cont" form="">Description</label><br />
                                                        <input type="text" ng-keypress="onTextBoxKeyPress($event)" ng-model="Contact.Description" class="form-control" id="" placeholder=" Enter Description" required style="width:75%;" />
                                                    </div>
                                                </div>

                                                <div class="row" style="padding-left:40%;padding-top:10px;">
                                                    <button type="submit" class="btn btn-default" ng-show="ShowSave" ng-style="myObj" ng-click="Save()"><img src="../AdminStyle/images/save.png" />&nbsp;&nbsp;Save</button>
                                                    <button type="button" class="btn btn-default" ng-show="ShowUpdate" ng-style="myObj" ng-click="Update()"><img src="../AdminStyle/images/update_tag_.png" />&nbsp;&nbsp;Update</button>
                                                </div>
                                                <div class="row">
                                                </div>
                                                <div class="row">
                                                    <span style="color:red !important" ng-show="ShowError">{{msg}}</span><span style="color:green !important;">{{msgStatus}}</span><br />
                                                    <span ng-model="Contact.hiddenContactUsAdminId" ng-show="Showhide"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-lg-6">

                                            <div ng-repeat="opi in resultOPImage">
                                                <img src="{{opi.ThemeImage}}" style="width:100%;" />

                                            </div>
                                        </div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </form>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

            </div>

            <!--footer-->
            <div class="footer ">

                <div class="col-lg-12 form-inline">
                    <span>
                        &copy; 20 - 2021. All Rights Reserved  Powered by<a target="_blank" href="https://cartyogi.com/#!/">
                            <img src="images/Powered by Cartyogi-1.png" height="25" />
                        </a>
                    </span>

                </div>
            </div>
            <!--//footer-->
        </div>
    </div>
    <script src='js/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->
    <!-- Classie --><!-- for toggle left push menu script -->
    <script src="js/classie.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };
        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>










    <script src="../js/AdminStyle/js/jquery.nicescroll.js"></script>
    <script src="../js/AdminStyle/js/scripts.js"></script>
    <script src="../js/AdminStyle/js/chartinator.js"></script>
    <script src="../js/AdminStyle/js/classie.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="../js/AdminStyle/js/bootstrap.js"></script>
    <!--<link href="../../css/materialize.css" rel="stylesheet" />-->
    <!--//--<link href="../css/style.css" rel="stylesheet" />-->
    <link href="../AdminStyle/css/dp-custom.css" rel="stylesheet" />
    <link href="../AdminStyle/css/dp-custom.css" rel="stylesheet" />
    <link href="../AdminStyle/css/dp-mobile.css" rel="stylesheet" />
    <script src="../../Controller/Admin/ContactUsAdminController.js"></script>
</div>