<div>
    <div>
        <link href="../AdminStyle/css/custom.css" rel="stylesheet" />
        <link href="../AdminStyle/css/bootstrap.css" rel="stylesheet" />
        <link href="../AdminStyle/css/style.css" rel="stylesheet" />
        <link href="../AdminStyle/css/dp-custom.css" rel="stylesheet" />
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="../AdminStyle/css/font-awesome.css" rel="stylesheet" />
        <link href="../AdminStyle/css/SidebarNav.min.css" rel="stylesheet" />
        <link href="../AdminStyle/css/tabview.css" rel="stylesheet" />
        <script src="../js/AdminStyle/js/jquery-1.11.1.min.js"></script>
        <script src="../js/AdminStyle/js/modernizr.custom.js"></script>
        <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

        <script src="../js/AdminStyle/js/metisMenu.min.js"></script>
        <script src="../js/AdminStyle/js/custom.js"></script>
        <link href="../AdminStyle/css/custom.css" rel="stylesheet" />
        <style>
            /*---------------Font-Face---------------*/
            @font-face {
                font-family: 'Nunito-Bold';
                src: url('../fonts/Nunito-Bold.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-Regular';
                src: url('../fonts/Nunito-Regular.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-SemiBold';
                src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
            }

            @font-face {
                font-family: 'Nunito-Light';
                src: url('../fonts/Nunito-Light.ttf') format('truetype');
            }

            h2, h3, h4, h5, h6, th {
                font-family: Nunito-Bold !important;
            }

            p, span, a, label {
                font-family: Nunito-SemiBold !important;
                font-size: 1rem;
                color: black !important;
            }

            td {
                font-family: Nunito-Regular !important;
            }
            /*---------------Font-Face---------------*/

            input {
                border-color: #B198CB !important;
            }
            #myLinks {
                display: none;
                background-color: #222D32;
                color: white !important;
                padding-top: 3.8em;
                padding-left: 15px;
            }

                #myLinks a {
                    color: white !important;
                }

            .arrow-down1:after, .arrow-up1:after {
                content: ' ';
                position: relative;
                left: 2px;
                border: 8px solid transparent;
            }

            .arrow-down1:after {
                top: 12px;
                border-top-color: blue;
            }

            .arrow-up1:after {
                bottom: 13px;
                border-bottom-color: blue;
            }

            .arrow-down1, .arrow-up1 {
                padding-right: 10px;
            }

            @media(min-width:300px) and (max-width:359px) {
                .catbtn {
                    width: 160Px !important
                }

                .catexport {
                    width: 110px !important;
                }
            }
            @media(min-width:992px) {
                .col-md-5 {
                    width: 50%;
                }
            }
            @media (min-width: 768px) and (max-width:1020px) {
                .form-control {
                    display: inline-block;
                    width: 100% !important;
                    vertical-align: middle;
                }
            }
        </style>
    </div>
    <div class="cbp-spmenu-push">
        <div class="main-content">
            <div ng-controller="AdminMainMenu">
                <ng-include src="'View/AdminMainMenu.html'"></ng-include>
            </div>
            <div id="page-wrapper">
                <div class="main-page">
                    <div class="container">
                        <div class="forms">
                            <div class="form-two widget-shadow" style="border-radius:10px;">
                                <div class="row" style="padding-top:35px;padding-left:25px;">
                                    <a href="" data-toggle="tooltip" class="tool-tips" title="Manage Your Tax Details Here!"><h4 style="font-size:20px;color:#663398 ;"> Tax</h4></a>
                                </div>
                                <div class="form-body" data-example-id="simple-form-inline" style="padding-bottom:200px;">
                                    <form class="form-inline">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <label>Category</label><br />
                                            <div class="form-group">
                                                <input id="CategoryId" type="text" ng-model="ProductDetail.CategoryId" list="category" placeholder="Select Category" ng-change="ddlCatChange(ProductDetail.CategoryId)" class="form-control prodinfo" style="text-transform:uppercase;width:199px;" />
                                                <datalist id="category">
                                                    <option value="" disabled selected style="text-transform:uppercase;">Select Category</option>
                                                    <option style="text-transform:uppercase;" ng-selected="ProductDetail.CategoryId==cat.CategoryId" ng-repeat="cat in CategoryDetails" data-value="{{cat.CategoryId}}"> {{cat.CategoyName}}</option>
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <label>Sub Category</label><br />
                                            <div class="form-group">
                                                <input id="SubCategoryId" type="text" ng-model="ProductDetail.SubCategoryId" list="SubCategory" ng-change="ddlsubCatChange(ProductDetail.SubCategoryId)" placeholder="Select SubCategory" class="form-control prodinfo" style="text-transform:uppercase;width:199px;" />
                                                <datalist id="SubCategory">
                                                    <option value="" disabled selected style="text-transform:uppercase;">Select SubCategory</option>
                                                    <option style="text-transform:uppercase;" ng-selected="ProductDetail.SubCategoryId == subcat.SubCategoryId" ng-repeat="subcat in SubCategoryDetails" data-value="{{subcat.SubCategoryId}}">{{subcat.SubCategoryName}}</option>
                                                </datalist>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <label>Product</label><br />
                                            <div class="form-group">
                                                <input id="ProductId" type="text" ng-model="ProductDetail.ProductId" list="Product" placeholder="Select Product" class="form-control prodinfo" style="text-transform:uppercase;width:199px;" />
                                                <datalist id="Product">
                                                    <option value="" disabled selected style="text-transform:uppercase;">Select Product</option>
                                                    <option style="text-transform:uppercase;" ng-selected="ProductDetail.ProductId == Pro.ProductId" ng-repeat="Pro in ProductDetails" data-value="{{Pro.ProductId}}">{{Pro.Title}}</option>
                                                </datalist>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">GST Percentage<i style="color:red;">*</i></label><br />
                                                <input type="text" placeholder="Numbers only" ng-change="CalcGST()" min="0" max="100" class="form-control" ng-model="ProductDetail.Percentage" id="Percentage" style="text-transform:uppercase;width:199px;" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat>
                                            </div>
                                        </div>
                                        <div class="row"  ng-show="ShowGST">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">CGST Percentage</label><br />
                                                    <input type="text"  class="form-control" ng-model="ProductDetail.CGSTPercentage" id="CGSTPercentage" style="text-transform:uppercase;width:199px;" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">SGST Percentage</label><br />
                                                    <input type="text"  class="form-control" ng-model="ProductDetail.SGSTPercentage" id="SGSTPercentage" style="text-transform:uppercase;width:199px;" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">IGST Percentage</label><br />
                                                    <input type="text"  class="form-control" ng-model="ProductDetail.IGSTPercentage" id="IGSTPercentage" style="text-transform:uppercase;width:199px;" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat readonly>
                                                </div>
                                            </div>

                                        </div>
                                      
                                        <div class="col-lg-6" style="padding-top:5px;">
                                            <div class="form-group">
                                                <input type="checkbox" ng-init="ProductDetail.IsActive=true" class="filled-in" id="filled-in-box-1" ng-model="ProductDetail.IsActive" />
                                                <label for="filled-in-box-1">Active</label>
                                            </div>
                                        </div>
                                    </form>

                                    <div style="float:right !important;padding-top:35px;padding-bottom:25px;">
                                        <button type="button" id="taxsave" class="btn btn-default" style="background: #f2b33f;height: 40px;width: 115px;" ng-show="ShowSave" ng-style="myObj" ng-click="Save()"><img src="../AdminStyle/images/save.png" style="width:24px;" />  Save</button>
                                        <button type="button" id="taxUpdate" class="btn btn-default" style="background: #f2b33f;height: 40px;width: 115px;" ng-show="ShowUpdate" ng-style="myObj" ng-click="Update()"><img src="../AdminStyle/images/update_tag_.png" style="width:24px;" />  Update</button>
                                        <button type="button" class="btn btn-default" style="background: #f2b33f;height: 40px;width: 115px;" ng-style="myObj" ng-click="Clear()"><img src="../AdminStyle/images/erase.png" style="width:24px;" />Clear</button>
                                    </div>
                                   
                                </div>
                                <div style="padding-left:10px; padding-bottom:20px;">
                                    <span style="color:red !important;">{{msg}}</span><span style="color:green !important;">{{msgStatus}}</span><br />
                                   
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-page">
                    <div class="container">
                        <div class="table mobile-hide">
                            <div class="bs-example widget-shadow" data-example-id="hoverable-table" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                                <div class="row" style="padding:30px 10px;">
                                    <div class="col-lg-3" style="margin-right:7%;">
                                        <h4 style="font-size:20px;color:#663398;"> Tax</h4>
                                    </div>
                                    <div class="col-lg-3" style="padding-right:10px;margin-right:13px;">
                                        <div class="form-horizontal">
                                            <input type="text" class="form-control" name="Searchtext" ng-model="TaxDetail.Search" placeholder="search" id="search">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default" style="background-color:#f2b33f;" ng-style="myObj" ng-click="Search()"><img src="../AdminStyle/images/search.png" style="width:18px;" /> Search</button>
                                        <button type="button" class="btn btn-default" style="background-color:#f2b33f;" ng-style="myObj" ng-click="exportData()"><img src="../AdminStyle/images/ms_excel.png" style="width:18px;" /> Export</button>
                                        <button type="button" class="btn btn-default" style="background-color:#f2b33f;" ng-style="myObj" ng-click="InActiveclick()" ng-show="Inactive"><img src="../AdminStyle/images/Close2.png" style="width:18px;" /> Show InActive</button>
                                        <button type="button" class="btn btn-default" style="background-color:#f2b33f;" ng-style="myObj" ng-click="Activeclick()" ng-show="Active"><img src="../AdminStyle/images/active1 (1).png" style="width:18px;" /> Show Active</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="font-weight:bold; width:50px;text-align:center;">S.No</th>
                                        <th ng-click='sortColumn("ProductId")' ng-class='sortClass("ProductId")' style="font-weight:bold;text-align:center;">Product</th>
                                        <th ng-click='sortColumn("CGSTPercentage")' ng-class='sortClass("Description")' style="font-weight:bold;text-align:center;">GST Percentage</th> 
                                        <!--<th ng-click='sortColumn("SGSTPercentage")' ng-class='sortClass("Description")' style="font-weight:bold;text-align:center;">SGST Percentage</th> 
                                        <th ng-click='sortColumn("IGSTPercentage")' ng-class='sortClass("Description")' style="font-weight:bold;text-align:center;">IGST Percentage</th>--> 
                                        <th style="font-weight:bold;text-align:center;">Status</th>
                                        <th style="font-weight:bold; width:60px;text-align:center;">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="tax in ItemsByPage[currentPage] | orderBy:TaxDetailsId:reverse">
                                        <td style="text-align:center">{{tax.Sno}}</td>
                                        <td style="text-align:center;">{{tax.ProductId}}</td>
                                        <td style="text-align:center;">{{tax.Percentage}}</td>
                                        <!--<td style="text-align:center;">{{tax.SGSTPercentage}}</td>
                                        <td style="text-align:center;">{{tax.IGSTPercentage}}</td>-->
                                        <td style="text-align:center"><a><img src="{{tax.IsActive}}" style="width:24px;" /></a></td>
                                        <td style="text-align:center"><span><a ng-click="Edit(tax.TaxDetailsId);"><img src="../AdminStyle/images/Icons/edit24px.png" style="width:20px;height:20px;" alt="" /></a></span> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--export table-->
                        <table id="example1" class="table table-bordered" style=" display:none;">
                            <thead class="thead-bold">
                                <tr style="background-color: #BFD0D8 !important;">
                                    <th style="font-weight:bold; width:50px;text-align:center;">S.No</th>
                                    <th style="font-weight:bold;text-align:center;">Product</th>
                                    <th style="font-weight:bold;text-align:center;">CGST Percentage</th>
                                    <th style="font-weight:bold;text-align:center;">SGST Percentage</th>
                                    <th style="font-weight:bold;text-align:center;">IGST Percentage</th>                                    
                                    <th style="font-weight:bold;text-align:center;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tax in allItems | orderBy:Description:reverse">
                                    <td style="text-align:center">{{tax.Sno}}</td>
                                    <td style="text-align:center;">{{tax.ProductId}}</td>
                                    <td style="text-align:center;">{{tax.CGSTPercentage}}</td>
                                    <td style="text-align:center;">{{tax.SGSTPercentage}}</td>
                                    <td style="text-align:center;">{{tax.IGSTPercentage}}</td>
                                    <td style="text-align:center"><a>{{tax.IsActive1}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--export table-->
                        <div class="table desktop-hide">
                            <div class="bs-example widget-shadow" data-example-id="hoverable-table" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                                <div class="row" style="padding:30px 10px !important;">
                                    <div class="col-lg-3" style="padding-bottom:5px;padding-left:20px;">
                                        <h4 style="padding-left:0px!important;color:#663398 ;"> Tax</h4>
                                    </div>

                                    <div class="col-lg-5" style="padding-right:20px;">
                                        <div class="input-group" style="padding-right:10px;">
                                            <input type="text" class="form-control" name="Searchtext" ng-model="TaxDetail.Search" placeholder="search" id="search">
                                            <div class="input-group-addon" ng-style="myObj" style="background-color:#f2b33f;padding-right:10px;">
                                                <span class="fa fa-search" ng-click="Search()" style="color:white;"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" style="padding-top:10px;">
                                        <div style="padding-bottom:5px;">
                                            <!--<button type="button" class="btn btn-default" style="background-color:#f2b33f;" ng-click="Search()"><img src="../AdminStyle/images/search.png" style="width:18px;" /> Search</button>-->
                                            <button type="button" class="btn btn-default catexport" style="background-color:#f2b33f;" ng-style="myObj" ng-click="exportData()"><img src="../AdminStyle/images/ms_excel.png" style="width:18px;" /> Export</button>

                                            <button type="button" class="btn btn-default catbtn" style="background-color:#f2b33f;" ng-style="myObj" ng-click="InActiveclick()" ng-show="Inactive"><img src="../AdminStyle/images/Close2.png" style="width:18px;" /> Show InActive</button>
                                            <button type="button" class="btn btn-default catbtn" style="background-color:#f2b33f;" ng-style="myObj" ng-click="Activeclick()" ng-show="Active"><img src="../AdminStyle/images/active1 (1).png" style="width:18px;" /> Show Active</button>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped mobile-datatables40" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="font-weight:bold;">Product</th>
                                            <th style="font-weight:bold;">CGST Percentage</th>
                                            <th style="font-weight:bold;">SGST Percentage</th>
                                            <th style="font-weight:bold;">IGST Percentage</th>
                                            <th style="font-weight:bold;">Status</th>
                                            <th style="font-weight:bold;">Edit</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tax in ItemsByPage[currentPage] | orderBy:Description:reverse">
                                            <td style="font-weight:400;">{{tax.ProductId}}</td>
                                            <td style="font-weight:400;">{{tax.CGSTPercentage}}</td>
                                            <td style="font-weight:400;">{{tax.SGSTPercentage}}</td>
                                            <td style="font-weight:400;">{{tax.IGSTPercentage}}</td>
                                            <td style="font-weight:400;"><a><img src="{{tax.IsActive}}" style="width:24px;" /></a></td>
                                            <td style="font-weight:400;"><span><a ng-click="Edit(tax.TaxDetailsId);"><img src="../AdminStyle/images/Icons/edit24px.png" style="width:20px;height:20px;" alt="" /></a></span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination pagination-sm">
                            <li ng-class="{active:0}">
                                <a ng-click="firstPage()">First</a>
                            </li>
                            <li ng-repeat="n in range(ItemsByPage.length)">
                                <a ng-click="setPage()" ng-bind="n+1">1</a>
                            </li>
                            <li>
                                <a ng-click="lastPage()">Last</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        <!--footer-->
            <div class="footer ">

                <div class="col-lg-12 form-inline">
                    <span>
                        &copy; 20 - 2021. All Rights Reserved  Powered by<a target="_blank" href="https://cartyogi.com/#!/">
                            <img src="images/Powered by Cartyogi-1.png" height="25" />
                        </a>
                    </span>

                </div>
            </div>
        <!--//footer-->
    </div>
        
        <script src='js/SidebarNav.min.js' type='text/javascript'></script>
        <script>
            $('.sidebar-menu').SidebarNav()
        </script>
        <script src="js/classie.js"></script>
        <script>
            var menuLeft = document.getElementById('cbp-spmenu-s1'),
                showLeftPush = document.getElementById('showLeftPush'),
                body = document.body;

            showLeftPush.onclick = function () {
                classie.toggle(this, 'active');
                classie.toggle(body, 'cbp-spmenu-push-toright');
                classie.toggle(menuLeft, 'cbp-spmenu-open');
                disableOther('showLeftPush');
            };

            function disableOther(button) {
                if (button !== 'showLeftPush') {
                    classie.toggle(showLeftPush, 'disabled');
                }
            }
        </script>
        <script src="../js/AdminStyle/js/jquery.nicescroll.js"></script>
        <script src="../js/AdminStyle/js/scripts.js"></script>
        <script src="../js/AdminStyle/js/chartinator.js"></script>
        <script src="../js/AdminStyle/js/classie.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="../js/AdminStyle/js/bootstrap.js"></script>
</div>
