
<div>
   
    <div class="checkout">
        <div class="row text-center">
            <div class="container" style="padding:40px;width:300px;border: 2px solid;margin-bottom:2em;margin-top:2em;">
                <div class="buttons" style="margin-bottom:7px;">
                    <a href="" ng-click="btnContinueClick()" style="width:150px;" class="btn btn-primary">Paynow</a>  <br /> 
                   
                </div>

                <div class="buttons">
                   
                    <a href="#!Invoice" style="width:150px;" class="btn btn-primary">Pay On Delivery</a>
                </div>
               
            </div>
        </div>
            </div>
            
            
  </div>
    
 
<script src="../../js/ClientView/js/easing.js"></script>
<script src="../../js/ClientView/js/jquery-1.11.1.min.js"></script>
<script src="../../js/ClientView/js/minicart.min.js"></script>
<script src="../../js/ClientView/js/move-top.js"></script>
<script src="../../js/ClientView/js/responsiveslides.min.js"></script>
<script src="../../js/ClientView/js/skdslider.min.js"></script>
